html {
  display: flex;
  justify-content: center;

  --main-theme-color: #49A6A6;
  --main-background-color: #dddddd;
  --interest-tag-height: 30px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-background-color);
  width: 500px;
}

form input,
form select {
  height: 50px;
  border-color: transparent;
}

form input[type="checkbox"] {
  height: inherit;
}

section {
  margin: 50px 0px;
  padding: 0px;
}

.container {
  margin: 50px 0px;
  padding: 0px;
}

.element {
  margin: 10px 0px;
}

.element input,
.element select {
  width: 100%;
}

.element .content {
  display: flex;
  justify-content: space-between;
}

.element .content input,
.element .content select {
  width: 100%;
}

.element .content div {
  width: 30%;
}

section h1 {
  text-align: center;
}

.container_button {
  display: flex;
  justify-content: space-between;
}

.half button {
  width: 45%;
}

button {
  width: 100%;
  height: 70px;
  color: #fff;
  background-color: var(--main-theme-color);
  border: 1px solid #000;
}

.container_input {
  background-color: #fff;
  padding: 10px;
  border: 2px solid;
  border-color: transparent;
}

.container_input:focus-within {
  border: 2px solid var(--main-theme-color);
}

.section_button {
  margin-top: 20px;
}

#popup {
  visibility: hidden;
}

.terms {
  background-color: #fff;
  overflow: scroll;
  height: 300px;
  margin-left: 20px;
  margin-right: 20px;
}

.hidden {
  display: hidden;
}



#interest {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff;
}

#interest .interest_tag {
  height: var(--interest-tag-height);
  margin: 5px;
  padding: 0px 5px;
  background-color: #faa;
  display: flex;
  justify-content: center;
  align-items: center;
}

#interest .interest_tag p {
  margin: 0px 5px;
  margin-left: 20px;
  /* display: inline-block; */
}

#interest .interest_tag button {
  margin: 0px;
  height: auto;
  width: auto;
  background-color: transparent;
  border: none;
}

#interest #input_interest {
  background-color: #aaf;
}

#interest input {
  height: var(--interest-tag-height);
  /* width: 100%; */
  width:auto;
  margin: 5px;
}