<div class="container_body" id="component_login">
  <form action="api/check_confidentiality" method="POST">
    <section id="section_login">
      <div class="element">
        <div class="container_input">
          <input type="text" name="id" placeholder="아이디" />
        </div>
      </div>
      <div class="element">
        <div class="container_input">
          <input type="password" name="password" placeholder="비밀번호" />
        </div>
      </div>
    </section>
    <section id="section_button">
      <button type="button" id="submit_axios">로그인</button>
      <p class="check_message"></p>
    </section>
  </form>
</div>

<link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
