<form name="info">
  <input type="text" name="id" />
  <input type="password" name="password" />

  <button type="button" id="axios" onclick="send()">전송하기</button>
</form>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  function send() {
    axios({
      url: "api/check_confidentiality",
      method: "post",
      data: {
        id : document.getElementsByName('id')[0].value,
        password : document.getElementsByName('password')[0].value
      }
    }).then(res => {
      console.log(res);
      if (res.data) {
        console.log('check pass!')
        // location.href = "/"
      }else{
        console.log('check fail!')
      }
    });
  }
</script>
