<form name="info">
  <input type="text" name="name" />

  <button type="button" id="axios" onclick="send()">전송하기</button>
</form>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  // let button = document.getElementById("axois");
  function send() {
    axios({
      url: "api/check_data",
      method: "post",
      data: {
        status: document.getElementById('axios').value || "EMPTY"
      }
    }).then(res => {
      console.log(res);
      if (res.data === "ok") {
        // ????
        // location.replace("/");
        location.href = "/"
      }
    });
  }
</script>
