<html>
  <head>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="stylesheets/reset.css" />
    <link rel="stylesheet" href="stylesheets/index.css" />
    <link rel="stylesheet" href="stylesheets/main.css" />
    <title>메인 페이지</title>
  </head>

  <body>
    <nav>
      <ul id="navigation">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">signup</a></li>
      </ul>
    </nav>

    <div class="app-root">
      <div class="container_body">
        <form action="">
          <section class="section_login">
            <div class="element">
              <div class="container_input">
                <input type="text" placeholder="아이디" />
              </div>
            </div>
            <div class="element">
              <div class="container_input">
                <input type="text" placeholder="비밀번호" />
              </div>
            </div>
          </section>
          <section class="section_button">
            <button type="submit">로그인</button>
          </section>
        </form>
      </div>
    </div>

    <footer>
      <div class="container_footer">
        <p>made by chan</p>
        <p>email : changicho29@gmail.com</p>
      </div>
    </footer>
  </body>
</html>